.page-content,
.header-top
  .container
    max-width: 1600px
.left-sidebar
  width: 33.3%
  display: inline-block
  border: 1px solid grey
  float: left
  .section-header
    text-align: left
  nav.sidebar-nav
    a
      font-size: 12px
      text-transform: uppercase

.catalog-content
  width: 66.3%
  float: left
