extends pug/template.pug

block content

  include ./pug/_includes/_header-products.pug
  section.documentation
    .container
      include ./pug/_includes/_left-sidebar_documentation.pug
      include ./pug/_includes/_documentation.pug