extends pug/template.pug

block content
  include ./pug/_includes/_header.pug
  include ./pug/_includes/_section-about.pug
  include ./pug/_includes/_section-production.pug
  include ./pug/_includes/_section-brands.pug
  include ./pug/_includes/_section-contacts.pug
  include ./pug/_includes/_section-map.pug
