extends pug/template.pug

block content

  include ./pug/_includes/_header-products.pug
  section.portfolio
    .container
      include ./pug/_includes/_left-sidebar_portfolio.pug
      include ./pug/_includes/_portfolio.pug