extends pug/template.pug

block content

  include ./pug/_includes/_header-products.pug
  section.products-catalog
    .container
      include ./pug/_includes/_left-sidebar.pug
      include ./pug/_includes/_catalog.pug