.content
  h2 Профильные системы из стали и нержавеющей стали
  .catalog-content
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER UNICO.jpg", alt="")
      .item-description
        .item-description_name Fоrster unico
        .item-description_desc
          ul
            li smoke protection
            li fire protection
            li without thermal break
            li burglary-resistance
            li bullet resistance
            li finger protection
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER FUEGO LIGHT.jpg", alt="")
      .item-description
        .item-description_name FORSTER FUEGO LIGHT
        .item-description_desc
          ul
            li smoke protection
            li fire protection
            li without thermal break
            li burglary-resistance
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER PRESTO.jpg", alt="")
      .item-description
        .item-description_name FORSTER PRESTO
        .item-description_desc
          ul
            li smoke protection
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER THERMFIX VARIO.jpg", alt="")
      .item-description
        .item-description_name FORSTER THERMFIX VARIO
        .item-description_desc
          ul
            li smoke protection
            li fire protection
            li without thermal break
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER THERMFIX LIGHT.jpg", alt="")
      .item-description
        .item-description_name FORSTER THERMFIX LIGHT
        .item-description_desc
          ul
            li smoke protection
            li fire protection
            li without thermal break
            li burglary-resistance
            li bullet resistance
