.content
  //h2 Документация по профильным системам Forster
  .selector#selector_id
    select
      option forster unico
      option forster fuego light
      option forster presto
      option forster thermfix vario
      option forster thermfix light
  .documentation-item
    .documentation-img
      a(href="#")
        img(src="./img/pdf.gif", alt="")
    .documentation-description
      a(href='#') 948310 forster fuego light
  .documentation-item
    .documentation-img
      a(href="#")
        img(src="./img/pdf2.gif", alt="")
    .documentation-description
      a(href='#') 948310 forster fuego light
  .documentation-item
    .documentation-img
      a(href="#")
        img(src="./img/pdf.gif", alt="")
    .documentation-description
      a(href='#') 948310 forster fuego light
  .documentation-item
    .documentation-img
      a(href="#")
        img(src="./img/pdf2.gif", alt="")
    .documentation-description
      a(href='#') 948310 forster fuego light
