footer
  .container
    .footer-left
      .footer-copyright © 2017. All rights reserved

    .footer-center
      .footer-logo
        span.icon-logo_podval
      .footer-logo_forster
    .footer-right
      .footer-menu
        ul
          li
            a(href="") ГЛАВНАЯ
          li
            a(href="") О НАС
          li
            a(href="") ПРОДУКЦИЯ
          li
            a(href="") ПАРТНЕРЫ
          li
            a(href="") ДОКУМЕНТАЦИЯ
          li
            a(href="") КОНТАКТЫ
