header.header-custom
  .header-top
    .container
      .logo
        img(src='./img/svg/logo.svg')
        h1 Прок профильная компания
      nav#header-nav.animated
        ul
          li
            a(href="index.html") Главная
          li
            a(href="index.html#aboutUsId") О нас
          li
            a(href="products.html") Продукция
            ul
              li
                a(href="#") forster unico
              li
                a(href="#") forster fuego light
              li
                a(href="#") forster presto
              li
                a(href="#") forster thermfix vario
              li
                a(href="#") forster thermfix light
          li
            a(href="portfolio.html") Партнеры
          li
            a(href="#") Документация
          li
            a(href="index.html#contactsId") Контакты
      .hamburger-menu#hamburger-menu
        .bar
  .header-bottom
