header
  .header-top
    .logo
      img(src='../img/svg/logo.svg')
      h1 Прок профильная компания
    nav
      ul
        li
          a(href="#") Главная
        li
          a(href="#") О нас
        li
          a(href="#") Продукция
        li
          a(href="#") Партнеры
        li
          a(href="#") Документация
        li
          a(href="#") Контакты
    .hamburger-menu#hamburger-menu
      .bar
  .header-bottom
    .slogan
      .h1-like БЕЗОПАСНОСТЬ - НАША ФИЛОСОФИЯ
      h2 ВЫСОКОПРОЧНЫЕ ПРОФИЛИ ИЗ СТАЛИ ДЛЯ ОКОН, ДВЕРЕЙ И ФАСАДОВ
  .header-slider_wrap
    #header-slider.header-slider
      .slide
          img(src="./img/city.jpg", alt="ffffffff")
      .slide
          img(src="./img/domodedovo.jpg", alt="ffff")
      .slide
          img(src="./img/garage.jpg", alt="fffffffffff")
    .header-slider_overlay