header.header-custom
  .header-top
    .logo
      img(src='./img/svg/logo.svg')
      h1 Прок профильная компания
    nav#header-nav.animated
      ul
        li
          a(href="#") Главная
        li
          a(href="#") О нас
        li
          a(href="#") Продукция
            span.icon-down-arrow
          ul
            li
              a(href="#") ДЛЯ ВИТРАЖЕЙ и КРЫШ
            li
              a(href="#") ДЛЯ НЕИЗОЛИРОВАННЫХ КОНСТРУКЦИЙ
            li
              a(href="#") ДЛЯ ОКОН И ДВЕРЕЙ
            li
              a(href="#") ДЛЯ СИСТЕМ БЕЗОПАСНОСТИ
            li
              a(href="#") ЗАЩИТА ОТ ОГНЯ И ДЫМА
        li
          a(href="#") Партнеры
        li
          a(href="#") Документация
        li
          a(href="#") Контакты
    .hamburger-menu#hamburger-menu
      .bar
  .header-bottom
