.left-sidebar
  .section-header
    h3 Продукция
  nav.sidebar-nav
    ul
      li
        a(href="#") ДЛЯ ВИТРАЖЕЙ и КРЫШ
      li
        a(href="#") ДЛЯ НЕИЗОЛИРОВАННЫХ КОНСТРУКЦИЙ
      li
        a(href="#") ДЛЯ ОКОН И ДВЕРЕЙ
      li
        a(href="#") ДЛЯ СИСТЕМ БЕЗОПАСНОСТИ
      li
        a(href="#") ЗАЩИТА ОТ ОГНЯ И ДЫМА
