.left-sidebar
  .section-header
    h3 Документация
  nav.sidebar-nav
    ul
      li
        a(href="#", class='ls-active') forster unico
      li
        a(href="#") forster fuego light
      li
        a(href="#") forster presto
      li
        a(href="#") forster thermfix vario
      li
        a(href="#") forster thermfix light
