.content
  .catalog-content
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER UNICO HI.jpg", alt="")
        .item-description
          .item-description-wrapper
            .item-description_name Домодедово
            .item-description_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item-footer
          p Подробнее
            span.icon-down-arrow
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER UNICO HI.jpg", alt="")
        .item-description
          .item-description-wrapper
            .item-description_name Сити
            .item-description_desc
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item-footer
          p Подробнее
            span.icon-down-arrow
    .catalog-item
      a(href="#")
        img(src="./img/FORSTER UNICO HI.jpg", alt="")
        .item-description
          .item-description-wrapper
            .item-description_name Домодедово
            .item-description_desc
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item-footer
          p Подробнее
            span.icon-down-arrow

    .catalog-item
      a(href="#")
        img(src="./img/FORSTER UNICO HI.jpg", alt="")
        .item-description
          .item-description-wrapper
            .item-description_name Домодедово
            .item-description_desc
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item-footer
          p Подробнее
            span.icon-down-arrow