section.products-item.no-sidebar
  .container
    .content
      .item-content_left
        img(src="./img/forsterUnico.jpg", alt="")
      .item-content_right
        .section-header
          h2 Forster Unico
        p Foster unico и Forster unico Hi это термоизолированная профильная система с фурнитурой и комплектующими для одинарных или двойных дверей и окон. Также подходит для наружного остекления.
        .h2-like Описание
        b Материалы
        ul
          li Сталь
          li Оцинкованная сталь
          li Нержавеющая сталь
        b Размеры
        ul
          li Сталь
          li Оцинкованная сталь
          li Нержавеющая сталь


