section.production#production_id
  .section-header
    h3 Продукция
  .lines-wrapper
    #lines.lines.animated
  ul
    li(style="background-image: url('../img/1.jpg')")
      a(href="")
        .li-overlay
        .container  ДЛЯ ВИТРАЖЕЙ И ОСТЕКЛЕННЫХ КРЫШ
    li(style="background-image: url('../img/2.jpg')")
      a(href="") 
        .li-overlay
        .container ДЛЯ НЕИЗОЛИРОВАННЫХ КОНСТРУКЦИЙ
    li(style="background-image: url('../img/3.jpg')")
      a(href="") 
        .li-overlay
        .container ДЛЯ ОКОН И ДВЕРЕЙ
    li(style="background-image: url('../img/4.jpg')")
      a(href="") 
        .li-overlay
        .container ДЛЯ СИСТЕМ БЕЗОПАСНОСТИ
    li(style="background-image: url('../img/5.jpg')")
      a(href="")
        .li-overlay
        .container ЗАЩИТА ОТ ОГНЯ И ДЫМА