section.brands
  .container
    #brands-slider_id.brands-slider_class
      .item
        img(src="./img/logo/danfoss.jpg", alt="")
      .item
        img(src="./img/logo/LOGO CANON.png", alt="")
      .item
        img(src="./img/logo/VW-logo.jpg", alt="")
      .item
        img(src="./img/logo/danfoss.jpg", alt="")
      .item
        img(src="./img/logo/LOGO CANON.png", alt="")
      .item
        img(src="./img/logo/VW-logo.jpg", alt="")
