section.about-us#aboutUsId
  .container
    .about-us_left
      .section-header
        h3 О нас
      .about-us_text
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации систем массового участия.   
        p Не следует, однако забывать, что сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
      a(href="#", class='btn') еще о нас
    .about-us_right#aboutAnimImg
      img(src="./img/chert.png", alt="", class='animated')
      img(src="./img/prof.png", alt="", class='animated')
