section.contacts
  .section-header
    h3 Контакты
  .container
    .contact-info
      h4 Будьте с нами на связи
      .contacts-adress
        span.col.icon-plane
        p.col 119361, г.Москва , ул.Б.Очаковская, д.47А, стр.1, оф.901
      .contacts-phone
        span.col.icon-plane
        div.col
          span +7 495 287 36 23
          br
          span +7 915 120 03 83

      .contacts-mail
        span.col.icon-plane
        p.col info@forster-profile.ru
    .contacts-form
      h4 Напишите нам
      form(action="#", method='post')
        input(type="text" class='form-name' placeholder='ИМЯ')
        input(type="text" class='form-mail' placeholder='EMAIL')
        input(type="text" class='form-phone' placeholder='ТЕЛЕФОН')
        textarea(class='form-message' placeholder='ВАШЕ СООБЩЕНИЕ')
        input(type="submit" class='btn' value='отправить')
