section.production#production_id
  .section-header
    h3 Продукция
  .lines
  ul
    li(style="background-image: url('../img/1.jpg')")
      .li-overlay
      .container
        a(href="") ДЛЯ ВИТРАЖЕЙ И ОСТЕКЛЕННЫХ КРЫШ
    li(style="background-image: url('../img/2.jpg')")
      .li-overlay
      .container
        a(href="") ДЛЯ НЕИЗОЛИРОВАННЫХ КОНСТРУКЦИЙ
    li(style="background-image: url('../img/3.jpg')")
      .li-overlay
      .container
        a(href="") ДЛЯ ОКОН И ДВЕРЕЙ
    li(style="background-image: url('../img/4.jpg')")
      .li-overlay
      .container
        a(href="") ДЛЯ СИСТЕМ БЕЗОПАСНОСТИ
    li(style="background-image: url('../img/5.jpg')")
      .li-overlay
      .container
        a(href="") ЗАЩИТА ОТ ОГНЯ И ДЫМА